##-----------------------------------------------------------------------------
##
## (c) Copyright 2010-2011 Xilinx, Inc. All rights reserved.
##
## This file contains confidential and proprietary information
## of Xilinx, Inc. and is protected under U.S. and
## international copyright and other intellectual property
## laws.
##
## DISCLAIMER
## This disclaimer is not a license and does not grant any
## rights to the materials distributed herewith. Except as
## otherwise provided in a valid license issued to you by
## Xilinx, and to the maximum extent permitted by applicable
## law: (1) THESE MATERIALS ARE MADE AVAILABLE "AS IS" AND
## WITH ALL FAULTS, AND XILINX HEREBY DISCLAIMS ALL WARRANTIES
## AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING
## BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-
## INFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE; and
## (2) Xilinx shall not be liable (whether in contract or tort,
## including negligence, or under any other theory of
## liability) for any loss or damage of any kind or nature
## related to, arising under or in connection with these
## materials, including for any direct, or any indirect,
## special, incidental, or consequential loss or damage
## (including loss of data, profits, goodwill, or any type of
## loss or damage suffered as a result of any action brought
## by a third party) even if such damage or loss was
## reasonably foreseeable or Xilinx had been advised of the
## possibility of the same.
##
## CRITICAL APPLICATIONS
## Xilinx products are not designed or intended to be fail-
## safe, or for use in any application requiring fail-safe
## performance, such as life-support or safety devices or
## systems, Class III medical devices, nuclear facilities,
## applications related to the deployment of airbags, or any
## other applications that could lead to death, personal
## injury, or severe property or environmental damage
## (individually and collectively, "Critical
## Applications"). Customer assumes the sole risk and
## liability of any use of Xilinx products in Critical
## Applications, subject only to applicable laws and
## regulations governing limitations on product liability.
##
## THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS
## PART OF THIS FILE AT ALL TIMES.
##
##-----------------------------------------------------------------------------
## Project    : Series-7 Integrated Block for PCI Express
## File       : xilinx_pcie_2_1_ep_7x_08_lane_gen1_xc7k70t-fbg676-1-PCIE_X0Y0.ucf
## Version    : 1.11
#
###############################################################################
# Define Device, Package And Speed Grade
###############################################################################

CONFIG PART = xc7k70t-fbg676-1;

#########################################################################################################################
# User Constraints
#########################################################################################################################

###############################################################################
# User Time Names / User Time Groups / Time Specs
###############################################################################

###############################################################################
# User Physical Constraints
###############################################################################

#########################################################################################################################
# End User Constraints
#########################################################################################################################
#
#
#
#########################################################################################################################
# PCIE Core Constraints
#########################################################################################################################

###############################################################################
# Pinout and Related I/O Constraints
###############################################################################

#
# SYS reset (input) signal.  The sys_reset_n signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
# Some 7 series devices do not have 3.3 V I/Os available.
# Therefore the appropriate level shift is required to operate
# with these devices that contain only 1.8 V banks.
#

NET "sys_rst_n" TIG;
NET "sys_rst_n" NODELAY = "TRUE";
NET "sys_rst_n" IOSTANDARD = LVCMOS25;
NET "sys_rst_n" PULLUP;
NET "sys_rst_n" LOC = C17;
#
# SYS clock 100 MHz (input) signal. The sys_clk_p and sys_clk_n
# signals are the PCI Express reference clock. Virtex-7 GT
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GT Transceiver.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-7 GT Transceiver User Guide
# (UG) for guidelines regarding clock resource selection.
#

INST "refclk_ibuf" LOC = IBUFDS_GTE2_X0Y1;

#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-7 GT Transceiver User Guide (UG) for more information.
#
# PCIe Lane 0
INST "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[0].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y7;
# PCIe Lane 1
INST "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[1].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y6;
# PCIe Lane 2
INST "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[2].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y5;
# PCIe Lane 3
INST "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[3].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y4;
# PCIe Lane 4
INST "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[4].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y3;
# PCIe Lane 5
INST "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[5].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y2;
# PCIe Lane 6
INST "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[6].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y1;
# PCIe Lane 7
INST "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[7].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X0Y0;


#
# PCI Express Block placement. This constraint selects the PCI Express
# Block to be used.
#

INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_block_i" LOC = PCIE_X0Y0;

#
# BlockRAM placement
#
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[7].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X2Y25;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[6].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X2Y26;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[5].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X2Y17;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[6].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X2Y18;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[7].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X2Y14;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[5].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y27;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[4].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y26;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[3].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y25;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[2].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y24;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[1].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y23;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_rx/brams[0].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y22;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[0].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y21;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[1].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y20;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[2].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y19;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[3].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y18;
#INST "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_bram_top/pcie_brams_tx/brams[4].ram/use_tdp.ramb36/ramb_bl.ramb36_dp_bl.ram36_bl" LOC = RAMB36_X1Y17;
###############################################################################
# Timing Constraints
###############################################################################

NET "sys_clk" TNM_NET = "SYSCLK";
NET "ext_clk.pipe_clock_i/clk_125mhz" TNM_NET = "CLK_125";
NET "ext_clk.pipe_clock_i/clk_250mhz" TNM_NET = "CLK_250";
NET "ext_clk.pipe_clock_i/userclk1" TNM_NET = "CLK_USERCLK";
NET "ext_clk.pipe_clock_i/userclk2" TNM_NET = "CLK_USERCLK2";

TIMESPEC TS_SYSCLK = PERIOD "SYSCLK" 100 MHz HIGH 50 %;
TIMESPEC TS_CLK_125 = PERIOD "CLK_125" TS_SYSCLK * 1.25 HIGH 50 % PRIORITY 1;
#TIMESPEC "TS_CLK_250" = PERIOD "CLK_250" TS_SYSCLK*2.5 HIGH 50 % PRIORITY 2;
TIMESPEC TS_CLK_USERCLK = PERIOD "CLK_USERCLK" TS_SYSCLK * 2.5 HIGH 50 %;
TIMESPEC TS_CLK_USERCLK2 = PERIOD "CLK_USERCLK2" TS_SYSCLK * 2.5 HIGH 50 %;



INST "ext_clk.pipe_clock_i/mmcm_i" LOC = MMCME2_ADV_X0Y2;

PIN "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_block_i.PLPHYLNKUPN" TIG;
PIN "pcie_7x_v1_11_i/pcie_top_i/pcie_7x_i/pcie_block_i.PLRECEIVEDHOTRST" TIG;

PIN "ext_clk.pipe_clock_i/mmcm_i.RST" TIG;
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/user_resetdone*" TIG;
NET "ext_clk.pipe_clock_i/pclk_sel" TIG;
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[0].pipe_rate.pipe_rate_i/*" TNM_NET =  FFS "MC_PIPE";
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[1].pipe_rate.pipe_rate_i/*" TNM_NET =  FFS "MC_PIPE";
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[2].pipe_rate.pipe_rate_i/*" TNM_NET =  FFS "MC_PIPE";
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[3].pipe_rate.pipe_rate_i/*" TNM_NET =  FFS "MC_PIPE";
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[4].pipe_rate.pipe_rate_i/*" TNM_NET =  FFS "MC_PIPE";
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[5].pipe_rate.pipe_rate_i/*" TNM_NET =  FFS "MC_PIPE";
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[6].pipe_rate.pipe_rate_i/*" TNM_NET =  FFS "MC_PIPE";
NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_lane[7].pipe_rate.pipe_rate_i/*" TNM_NET =  FFS "MC_PIPE";

TIMESPEC TS_PIPE_RATE = FROM "MC_PIPE" TS_CLK_USERCLK * 0.5;


#NET "pcie_7x_v1_11_i/gt_top_i/pipe_wrapper_i/pipe_reset.pipe_reset_i/cpllreset" TIG;

###############################################################################
# Physical Constraints
###############################################################################
#########################################################################################################################
# End PCIe Core Constraints
#########################################################################################################################
NET "bpi_data[0]" LOC = B24;
NET "bpi_data[1]" LOC = A25;
NET "bpi_data[2]" LOC = B22;
NET "bpi_data[3]" LOC = A22;
NET "bpi_data[4]" LOC = A23;
NET "bpi_data[5]" LOC = A24;
NET "bpi_data[6]" LOC = D26;
NET "bpi_data[7]" LOC = C26;
NET "bpi_data[8]" LOC = C24;
NET "bpi_data[9]" LOC = D21;
NET "bpi_data[10]" LOC = C22;
NET "bpi_data[11]" LOC = B20;
NET "bpi_data[12]" LOC = A20;
NET "bpi_data[13]" LOC = E22;
NET "bpi_data[14]" LOC = C21;
NET "bpi_data[15]" LOC = B21;


NET "bpi_wen" LOC = L18;
NET "bpi_advn" LOC = D20;
NET "bpi_oen" LOC = M17;
NET "bpi_cen" LOC = C23;


NET "bpi_addr[25]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[24]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[23]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[22]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[21]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[20]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[19]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[18]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[17]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[16]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[15]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[14]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[13]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[12]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[11]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[10]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[9]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[8]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[7]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[6]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[5]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[4]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[3]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[2]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[1]" IOSTANDARD = LVCMOS25;
NET "bpi_addr[0]" IOSTANDARD = LVCMOS25;
NET "bpi_data[15]" IOSTANDARD = LVCMOS25;
NET "bpi_data[14]" IOSTANDARD = LVCMOS25;
NET "bpi_data[13]" IOSTANDARD = LVCMOS25;
NET "bpi_data[12]" IOSTANDARD = LVCMOS25;
NET "bpi_data[11]" IOSTANDARD = LVCMOS25;
NET "bpi_data[10]" IOSTANDARD = LVCMOS25;
NET "bpi_data[9]" IOSTANDARD = LVCMOS25;
NET "bpi_data[8]" IOSTANDARD = LVCMOS25;
NET "bpi_data[7]" IOSTANDARD = LVCMOS25;
NET "bpi_data[6]" IOSTANDARD = LVCMOS25;
NET "bpi_data[5]" IOSTANDARD = LVCMOS25;
NET "bpi_data[4]" IOSTANDARD = LVCMOS25;
NET "bpi_data[3]" IOSTANDARD = LVCMOS25;
NET "bpi_data[2]" IOSTANDARD = LVCMOS25;
NET "bpi_data[1]" IOSTANDARD = LVCMOS25;
NET "bpi_data[0]" IOSTANDARD = LVCMOS25;
NET "bpi_advn" IOSTANDARD = LVCMOS25;
NET "bpi_cen" IOSTANDARD = LVCMOS25;
NET "bpi_oen" IOSTANDARD = LVCMOS25;
NET "bpi_wen" IOSTANDARD = LVCMOS25;


INST "app/uut" AREA_GROUP = "pblock_app/uut";
INST "app/dctidct" AREA_GROUP = "pblock_app_dctidct";
AREA_GROUP "pblock_app_dctidct" RANGE=SLICE_X10Y15:SLICE_X31Y189;
AREA_GROUP "pblock_app_dctidct" RANGE=DSP48_X0Y6:DSP48_X1Y75;
AREA_GROUP "pblock_app_dctidct" RANGE=RAMB18_X1Y6:RAMB18_X1Y75;
AREA_GROUP "pblock_app_dctidct" RANGE=RAMB36_X1Y3:RAMB36_X1Y37;
INST "app/PAR_Controller_inst/bpi_addr_24" LOC = OLOGIC_X0Y101;
INST "app/PAR_Controller_inst/bpi_addr_25" LOC = OLOGIC_X0Y102;
INST "app/PAR_Controller_inst/bpi_addr_16" LOC = OLOGIC_X0Y105;
INST "app/PAR_Controller_inst/bpi_addr_17" LOC = OLOGIC_X0Y106;
INST "app/PAR_Controller_inst/bpi_addr_18" LOC = OLOGIC_X0Y107;
INST "app/PAR_Controller_inst/bpi_addr_19" LOC = OLOGIC_X0Y109;
INST "app/PAR_Controller_inst/bpi_addr_20" LOC = OLOGIC_X0Y110;
INST "app/PAR_Controller_inst/bpi_addr_21" LOC = OLOGIC_X0Y111;
INST "app/PAR_Controller_inst/bpi_addr_22" LOC = OLOGIC_X0Y112;
INST "app/PAR_Controller_inst/bpi_addr_23" LOC = OLOGIC_X0Y113;
INST "app/PAR_Controller_inst/bpi_addr_0" LOC = OLOGIC_X0Y51;
INST "app/PAR_Controller_inst/bpi_addr_1" LOC = OLOGIC_X0Y52;
INST "app/PAR_Controller_inst/bpi_addr_2" LOC = OLOGIC_X0Y53;
INST "app/PAR_Controller_inst/bpi_addr_3" LOC = OLOGIC_X0Y54;
INST "app/PAR_Controller_inst/bpi_addr_4" LOC = OLOGIC_X0Y55;
INST "app/PAR_Controller_inst/bpi_addr_5" LOC = OLOGIC_X0Y56;
INST "app/PAR_Controller_inst/bpi_addr_6" LOC = OLOGIC_X0Y57;
INST "app/PAR_Controller_inst/bpi_addr_7" LOC = OLOGIC_X0Y59;
INST "app/PAR_Controller_inst/bpi_addr_8" LOC = OLOGIC_X0Y60;
INST "app/PAR_Controller_inst/bpi_addr_9" LOC = OLOGIC_X0Y61;
INST "app/PAR_Controller_inst/bpi_addr_10" LOC = OLOGIC_X0Y62;
INST "app/PAR_Controller_inst/bpi_addr_11" LOC = OLOGIC_X0Y63;
INST "app/PAR_Controller_inst/bpi_addr_12" LOC = OLOGIC_X0Y64;
INST "app/PAR_Controller_inst/bpi_addr_13" LOC = OLOGIC_X0Y65;
INST "app/PAR_Controller_inst/bpi_addr_14" LOC = OLOGIC_X0Y66;
INST "app/PAR_Controller_inst/bpi_addr_15" LOC = OLOGIC_X0Y67;
NET "bpi_addr[0]" LOC = J23;
NET "bpi_addr[1]" LOC = K23;
NET "bpi_addr[2]" LOC = K22;
NET "bpi_addr[3]" LOC = L22;
NET "bpi_addr[4]" LOC = J25;
NET "bpi_addr[5]" LOC = J24;
NET "bpi_addr[6]" LOC = H22;
NET "bpi_addr[7]" LOC = H24;
NET "bpi_addr[8]" LOC = H23;
NET "bpi_addr[9]" LOC = G21;
NET "bpi_addr[10]" LOC = H21;
NET "bpi_addr[11]" LOC = H26;
NET "bpi_addr[12]" LOC = J26;
NET "bpi_addr[13]" LOC = E26;
NET "bpi_addr[14]" LOC = F25;
NET "bpi_addr[15]" LOC = G26;
NET "bpi_addr[16]" LOC = K17;
NET "bpi_addr[17]" LOC = K16;
NET "bpi_addr[18]" LOC = L20;
NET "bpi_addr[19]" LOC = J19;
NET "bpi_addr[20]" LOC = J18;
NET "bpi_addr[21]" LOC = J20;
NET "bpi_addr[22]" LOC = K20;
NET "bpi_addr[23]" LOC = G20;
NET "bpi_addr[24]" LOC = K18;
NET "bpi_addr[25]" LOC = L17;
